.sony-font {
    font-family: 'Playfair Display SC', serif;
}

#brandImg {
    width: 180px;
    height:  50px;
}

#section1-text {
    height: 100%;
    background-color: #faf3ed;
}

#section1-img {
    width: 100%;
    height: 90%;

}

#section2-img {
    width: 100%;
    height: 100%;
}

#section2-text {
    text-align: center;
    height: 100%;
    background-color: #ececec;
}

#section3-img {
    width: 100%;
    height: 100%;
}

#section3-text {
    text-align: center;
    background-color: #d1ab8f;
    height: 100%;
}

.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

#text1 {
  font-size: 60px;
  color: black;
  width: 100%;
}

#text2 {
  font-size: 105px;
}

#text3 {
  font-size: 75px;
}

.title-effect {
  color: #f00;
  text-shadow: 0 1px 0 #000,
               0 2px 0 #000,
               0 3px 0 #000,
               /* 0 4px 0 #000,
               0 5px 0 #000, */
               /* 0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2), */
               /* 0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2), */
               0 20px 20px rgba(0,0,0,.15);
}
