#text1 {
  font-size: 60px;
  color: black;
  width: 100%;

  text-shadow:     1px 1px 1px hsl(174,5%,80%),
	                 2px 2px 1px hsl(174,5%,75%),
	                 3px 3px 1px hsl(174,5%,70%),
	                 4px 4px 1px hsl(174,5%,66%),
	                 5px 5px 1px hsl(174,5%,64%),
	                 6px 6px 1px hsl(174,5%,62%),
	                 7px 7px 1px hsl(174,5%,61%),
	                 8px 8px 1px hsl(174,5%,60%),

	                 0 0 5px rgba(0,0,0,.05),
	                0 1px 3px rgba(0,0,0,.2),
	                0 3px 5px rgba(0,0,0,.2),
	               0 5px 10px rgba(0,0,0,.2),
	              0 10px 10px rgba(0,0,0,.2),
	              0 20px 20px rgba(0,0,0,.3);
}

#text2 {
  font-size: 105px;
}

#text3 {
  font-size: 75px;
}

.title-effect {
  color: #f00;
  text-shadow: 0 1px 0 #000,
               0 2px 0 #000,
               0 3px 0 #000,
               0 4px 0 #000,
               0 5px 0 #000,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
