#pageContainer {
    width: 1000px;
    
}

#firstSection {
    margin: 5px;
    padding: 5px;
    font-family: Georgia, serif;
    /*background-color: azure;*/
    height: 30px;
}

#logoImg {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}

#logo {
    width: 800px;
}

#logoText {
    font-weight: bold;
    font-size: 20px;
    color: red;
    position: relative;
    top: -4px;
    letter-spacing: 6px;
    float: left;
}

#logoTextSub{
    font-weight: bold;
    font-size: 15px;
    color: red;
    position: relative;
    top: -5px;
    letter-spacing: normal;
    
}

.clear {
    float: 0;
}

#menu {
    float: right;
    width: 250px;
}

.menuItem {
    border-right: 1px solid black;
    padding-right: 5px;
    text-decoration: none;
    color: black;
}

#menu a:hover {
    color: blue;
}