#pageContainer {
    margin: 5px;
    padding: 5px;
    font-family: Georgia, serif;
}

#logoImg {
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}

#logoText {
    font-weight: bold;
    font-size: 20px;
    color: red;
    position: relative;
    top: -4px;
}

#logoText sub{
    font-weight: bold;
    font-size: 15px;
    color: red;
}